# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/cache/

# Jika output hanya hasil sementara
# output/